.frontpage {

  .intro {
    position: relative;
    height: 80vh;

    &:after {
      display: block;
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      opacity: 0.6;
      background-color: #1e5c61;
    }

    > .inner {
      @include span-columns(8 of 12);
      @include shift(2);
      @include transform(translateY(-50%));
      position: absolute;
      top: 50%;
      z-index: 10;
      text-align: center;
      color: #fff;

      .logo {
        width: 240px;
        height: auto;
        margin-bottom: 60px;
      }

      h1 {
        font-size: rem(42);
        margin-bottom: 40px;
      }

      a {
        @include button;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.case-teasers {
  @include outer-container;
  margin-top: -70px;
  z-index: 10;
  position: relative;

    > div {
      @include span-columns(3 of 12);
      @include omega(4n);
      height: 320px;
      background-color: grey;
      margin-bottom: 20px;
    }
}
